/* .active {
    color: whitesmoke;
    margin: 1rem;
    padding: .3rem;
    border-radius: var(--border-radius);
    text-decoration: none;
    background-color: var(--accentColor);
}

.active:hover {
    color: var(--accentColor);
    background-color: whitesmoke;
}

.topbar-right {
    text-decoration: none;
} */

/* .NavHeight {
    color: yellow;
}

@media (max-height: 768px) {
    .NavHeight {
        height: 10px;
        color: red;
    }
} */